<?xml version="1.0" encoding="utf-8"?>
<settings>
  <autoload>
    <addon>azureSets</addon>
    <addon>battlemod</addon>
    <addon>cancel</addon>
    <addon>ConsoleBG</addon>
    <addon>Debuffed</addon>
    <addon>DistancePlus</addon>
    <addon>DressUp</addon>
    <addon>equipviewer</addon>
    <addon>findAll</addon>
    <addon>GearSwap</addon>
    <addon>MountRoulette</addon>
    <addon>Omen</addon>
    <addon>Pouches</addon>
    <addon>rolltracker</addon>
    <addon>setbgm</addon>
    <addon>send</addon>
    <addon>Silence</addon>
    <addon>SubTarget</addon>
    <addon>stna</addon>
    <addon>timestamp</addon>
    <addon>TParty</addon>
    <addon>Trusts</addon>
    <addon>Treasury</addon>
    <addon>temps</addon>
    <addon>Logger</addon>
    <addon>MountMuzzle</addon>
    <addon>autojoin</addon>
    <addon>autoinvite</addon>
    <addon>lottery</addon>
    <addon>latentchecker</addon>
    <addon>xivbar</addon>
    <addon>enemybar</addon>
    <addon>instaLS</addon>
    <addon>NoCampaignMusic</addon>
    <addon>roe</addon>
    <addon>update</addon>
    <addon>itemizer</addon>
    <addon>targetinfo</addon>
    <addon>enternity</addon>
    <addon>FastCS</addon>
    <addon>autocontrol</addon>
    <addon>PetTP</addon>
    <addon>JobChange</addon>
    <addon>NyzulHelper</addon>
    <addon>shortcuts</addon>
    <plugin>DelayMeNot</plugin>
    <plugin>FFXIDB</plugin>
    <plugin>LightLuggage</plugin>
    <plugin>Timers</plugin>
    <plugin>JaZero</plugin>
    <plugin>Config</plugin>
    <plugin>Sandbox</plugin>
    <plugin>ChatMon</plugin>
    <plugin>PacketFlow</plugin>
  </autoload>
  <profile name="">
    <consolekey>Insert</consolekey>
    <uiscale>1</uiscale>
    <hardwaremouse>false</hardwaremouse>
    <alwaysplaysound>false</alwaysplaysound>
    <alwaysenablegamepad>false</alwaysenablegamepad>
  </profile>
  <profile name="Windowed">
    <consolekey>Insert</consolekey>
    <windowmode>Window</windowmode>
    <width>1920</width>
    <height>1080</height>
    <uiscale>1</uiscale>
    <alwaysplaysound>false</alwaysplaysound>
    <allowwinkey>true</allowwinkey>
  </profile>
</settings>