<settings>
    <global>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>0</FrameRateDivisor>
    </global>
    <Kateye>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>1</FrameRateDivisor>
    </Kateye>
    <Luicia>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>1</FrameRateDivisor>
    </Luicia>
    <Arayala>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>1</FrameRateDivisor>
    </Arayala>
    <Merako>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>1</FrameRateDivisor>
    </Merako>
    <Sensarity>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>1</FrameRateDivisor>
    </Sensarity>
    <Ysara>
        <!--2 for 30 FPS, 1 for 60 FPS, 0 for uncapped frame rates-->
        <FrameRateDivisor>1</FrameRateDivisor>
    </Ysara>
</settings>
